@model Data.Entities.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @ViewBag.Product.Name
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            <img src="@Url.Content(@ViewBag.Product.Image)" />
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @ViewBag.Product.Description
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @ViewBag.Product.Category
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @ViewBag.Product.Price
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @ViewBag.Product.Rating
        </dd>

    </dl>
</div>
<div>
    <h2>Customers how viewed this also viewed</h2>
    <table class="table">
        <tr>
            @foreach (var item in ViewBag.Viewed)
            {
                <td>
                    <img src="@Url.Content(item.Image)" />
                    <h6>
                        @item.Name
                    </h6>
                    <p>
                        Rating: @item.Rating
                    </p>
                    <p>
                        $@item.Price
                    </p>
                </td>
            }
        </tr>
    </table>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
