
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <h6>User: @ViewBag.ID</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @ViewBag.Product.Name
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @ViewBag.Product.Description
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            <img src="@Url.Content(@ViewBag.Product.Image)"/>
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @ViewBag.Product.Ratings
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @ViewBag.ProductPrice
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @ViewBag.Product.Category
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
